@model List<string>?

@{
    ViewData["Title"] = "ToDo";
}

<h1>Todo: </h1>

@if (Model is null)
{
    <p>There is no ToDo items</p>
}
else
{
    <ul>
        @foreach (var todo in Model)
        {
            <li>@todo</li>
        }
    </ul>
}